<main>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Simple header</span>
      </a>
  
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" [class.active]="!authService.isAuthenticated()">Home</a></li>
        <ng-container *ngIf="!authService.isAuthenticated()">
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="/signup" class="nav-link">Signup</a></li>
        </ng-container>
        <ng-container *ngIf="authService.isAuthenticated()">
          <li class="nav-item"><a href="/dashboard" class="nav-link">Dashboard</a></li>
          <li class="nav-item"><a href="/profile" class="nav-link">Profile</a></li>
          <li class="nav-item"><a href="#" class="nav-link" (click)="authService.logout(); $event.preventDefault()">Logout</a></li>
        </ng-container>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
  <router-outlet />
</main>