<div class="container mt-4">
  <h2>Accounts Management</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
  
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Cash Account</p-tab>
      <p-tab value="1">Inventory Account</p-tab>
      <p-tab value="2">Revenue / Income Account</p-tab>
      <p-tab value="3">Expense Account</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="0">
        <app-account-cash-tab></app-account-cash-tab>
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-account-inventory-tab></app-account-inventory-tab>
      </p-tabpanel>
      <p-tabpanel value="2">
        <app-account-income-tab></app-account-income-tab>
      </p-tabpanel>
      <p-tabpanel value="3">
        <app-account-expense-tab></app-account-expense-tab>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>

    

    <div *ngIf="loading" class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
