/* You can add global styles to this file, and also import other style files */
/*@import 'ngx-toastr/toastr';*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

a {
  text-decoration: none;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.btn {
  border-radius: 0.375rem;
}

.nav-link {
  transition: background-color 0.2s ease-in-out;
  border-radius: 0.375rem;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
